<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'tweets/side', tweet: @tweet, user: @user, tags: @tags %>
		</div>
		<div class="col-lg-7">
			<h2><%= @user.user_name %>さんの投稿一覧</h2>
			<% @tweets_show.reverse_each do |data| %>
				<div class="panel panel-default">
					<div class="panel-heading">
					<!-- パネルのヘッダー部分 -->
						<%= attachment_image_tag data.user, :image, :fill, 30, 30, format:'jpeg', fallback: "noimage.png",size: '50x50', class: "icon" %>
						<%= data.user.user_name %>
					</div>
					<div class="panel-body">
						<!-- パネルの内容の部分 -->
						<%= data.text %><br>
					</div>
					<div class="panel-footer">
						<!-- パネルのフッターの部分 -->
						<%= attachment_image_tag data, :image, :fill, 500,300, format:'jpeg', class: "picbox" %><br>
						<p class="font20 postbox">タグ:<%= data.tag.tag_name %></p>
						<p class="font20 postbox">フリーワード:<%= data.free_word %></p>
						<% if data.user == current_user %>
							<%= link_to "削除", tweet_path(data), method: :delete,data: { confirm: '削除しますか？' }, class: "btn btn-danger postbox" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>